// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("/fonts/bebas_neue/BebasNeue-Regular.eot") format("eot"),
       url("/fonts/bebas_neue/BebasNeue-Regular.otf") format("otf"),
       url("/fonts/bebas_neue/BebasNeue-Regular.ttf") format("ttf"),
       url("/fonts/bebas_neue/BebasNeue-Regular.woff") format("woff"),
       url("/fonts/bebas_neue/BebasNeue-Regular.woff2") format("woff2"),;
}


// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "BebasNeue-Regular", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
