// Specific CSS for your home-page
html,body {
  height:100%;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-image: url('greymap.JPG');
  margin: 0px;
  width: 100vw;
  height: 100%
}

.homepage-form {

}

.homepage-content {
  text-align: center;
}

input {
  border: none
}
