.search-form-top {
  display: flex;
  justify-content: space-between;
}


#search-input {
  width: 30%;
}

#search-form-top input {
  padding-left: 5px;
  padding-right: 5px;
}


#distance {
  align-self: center;
  width: 195px;
}
