<%- if controller_name != 'sessions' %>
  <div class="btn btn-info"><%= link_to "Log in", new_session_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="btn btn-warning"><%= link_to "Sign up", new_registration_path(resource_name) %></div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to image_tag('facebook-sign-in-button.png', :width => "200"), omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
