<div class="map_box" style="padding:0px;margin:0px;text-align:center;">
      <h5><%= space.price %>€/Day</h5>
      <p><strong>Owner:</strong> <%= space.user.fullname %></p>
      <p style="max-width:150px;"><%= space.address %></p>
      <%= link_to "Book", space_reservations_path(space), method: :post, class: "btn btn-success btn-xs"%>
</div>
