<div class="container">
  <h1>USING PARKIT</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa optio voluptas placeat nobis repudiandae velit dignissimos eum nesciunt, saepe alias quaerat eius quo et. Earum ea officia sapiente explicabo eligendi, totam odit eius temporibus delectus, ad necessitatibus dolore. Excepturi quod repudiandae necessitatibus consectetur reiciendis sed sequi exercitationem hic, ea saepe recusandae distinctio cumque aspernatur quidem animi quis iste, accusantium laudantium magni harum facilis minima mollitia explicabo dolores! </p>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum autem consequatur quaerat ut, provident cum ipsam culpa eligendi quo commodi excepturi maiores mollitia odit atque.</p>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis delectus rem repudiandae quidem suscipit esse, saepe distinctio dolore, similique ad laboriosam voluptate cumque? Dolorem nostrum consectetur obcaecati non, ratione, asperiores.</p>
  <hr>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium magni veniam ad corporis similique excepturi facilis sunt inventore deleniti distinctio!</p>
</div>
<div style="background-color: #fbf8f4; display: flex; flex-direction: column; align-items: center;">
  <div>
    <h2>Stay up to date with PARKIT News!</h2>
  </div>
  <div>
    <%= form_for @subscription, :url => subscriptions_path do |f| %>
      <%= f.text_field :email, placeholder: "enter email" %>
      <%= f.submit "Create" %>
    <% end %>
  </div>
</div>
