<div class="container">
  <h1>How it works</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa optio voluptas placeat nobis repudiandae velit dignissimos eum nesciunt, saepe alias quaerat eius quo et. Earum ea officia sapiente explicabo eligendi, totam odit eius temporibus delectus, ad necessitatibus dolore. Excepturi quod repudiandae necessitatibus consectetur reiciendis sed sequi exercitationem hic, ea saepe recusandae distinctio cumque aspernatur quidem animi quis iste, accusantium laudantium magni harum facilis minima mollitia explicabo dolores! Accusantium magni, est, in sint architecto maxime, itaque error ipsam non quia eum vero fugit impedit aliquid assumenda suscipit quisquam quas eligendi possimus dolore. Doloribus est ex, aperiam voluptates at obcaecati nesciunt!</p>
  <hr>
  <button><%= link_to t(root_path, default: "Home") %></button>
</div>

