<div class="screen">

  <div class="homepage-content">
    <h2>RENT A PARKING SPACE NEAR YOU</h2>

    <form class="homepage-form" action=<%=spaces_path%>>
      <input type="text" name="location" value="London" class="location-input" id="insert">
      <input type="date" name="start" value=<%=Date.today.to_s%>>
      <input type="date" name="end" value=<%=(Date.today + 1.days).to_s%>>
      <input type="submit" value="SEARCH" class="button">

      <div class="slidecontainer">
      <input type="range" name="distance" min="1" max="2000" value="1000" class="slider" id="myRange">
      <p>Distance: <span id="demo"></span></p>
      </div>

    </form>
  </div>


</div>


<button onclick="getLocation()" style="display:none">Try It</button>

<script>
var x = document.getElementById("insert");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
    }
}

function showPosition(position) {
   x.value = position.coords.latitude + ", " + position.coords.longitude) %>
}

</script>
