<div class="screen">

  <div class="homepage-content">
    <h2>RENT A PARKING NEAR YOU</h2>


    <form class="homepage-form" action=<%=spaces_path%>>
      <input type="text" name="location" placeholder="LOCATION" class="location-input">
      <input type="date" name="start" placeholder="Date From">
      <input type="date" name="end" placeholder="Date To">
      <input type="submit" value="SEARCH" class="button">
    </form>
  </div>


</div>
