<div class="screen">

  <div class="homepage-content">
    <h2>RENT A PARKING SPACE NEAR YOU</h2>

    <form class="homepage-form" action=<%=spaces_path%>>
      <input type="text" name="location" placeholder="LOCATION" class="location-input">
      <input type="date" name="start" value=<%=Date.today.to_s%>>
      <input type="date" name="end" value=<%=(Date.today + 1.days).to_s%>>
      <input type="submit" value="SEARCH" class="button">

      <div class="slidecontainer">
      <input type="range" name="distance" min="1" max="30" value="10" class="slider" id="myRange">
      <p>Distance: <span id="demo"></span></p>
      </div>

    </form>
  </div>


</div>
