<div class="screen">

  <div class="homepage-content">
    <h2>RENT A PARKING NEAR YOU</h2>
  </div>

  <form class="homepage-form" action="">
    <input type="text" name="location" placeholder="Location">
    <input type="date" name="start" placeholder="Date From">
    <input type="date" name="end" placeholder="Date To">
    <input type="submit" value="SEARCH">
  </form>


</div>
