.multi-item-carousel{

    .img-responsive {
      overflow: hidden;
      height: 300px;
      img {

        padding: 10px;
        height: 370px;
      }
    }


  .carousel-inner{
    > .item{
      transition: 900ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 800ms ease-in-out left;
        transition: 800ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carousel-control{
    &.right{
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%)!important;
    }

    &.left{
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%)!important;
    }
  }
}



// non-related styling:

h1{

  text-align: center;
}


