
.map_box{
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  font-family: BebasNeue-Regular;
}


.map_box_child {
  padding: 10px;
}

.map_box_child_img_book {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 10px;
}


.map_box_child_image {
  margin-bottom: 10px !important;
}

.map_box_child_image img {
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px;
}

